body {
  background-color:seashell;
  font-family: 'Courier New', Courier, monospace;
}

button {
  background-color: lightblue;
  color: lightslategray;
  font-family: 'Courier New', Courier, monospace;
}

#content {
  color: lightslategray;
  margin-left: auto;
  margin-right: auto;
  width: 850px;
}

#currently-playing {
  color: cornflowerblue;
  text-decoration-line: underline;
  text-decoration-style: solid;
}

#greeting-container {
  margin-top: 20px;
}

img {
  width: 25%;
}

.inline {
  display: inline;
}

li {
  display: inline;
}


#title {
  color: lightblue;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.iframe-flex {
  display: inline-block;
}

.iframe-items{
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
